### In this notebook, we will perform statistics on the normalized calcium values generated from python.

In [1]:
#Check to see what directory you are in
getwd()

[1] "C:/Users/mkmve/Python_Notebook"

In [2]:
#read in csv
left_arm_normalized <- read.csv("left_arm_normalized_calcium.csv")
right_arm_normalized <- read.csv("right_arm_normalized_calcium.csv")
comb_arm_normalized <- read.csv("combined_arms_normalized.csv")
head(left_arm_normalized)

  X ecdf       Label Values location         ID  Normalized.Calcium
1 0 0.02040816 PBS   0.118  left arm calcium 22B 0.4573643
2 1 0.04081633 PBS   0.121  left arm calcium 22D 0.4653846
3 2 0.06122449 PBS   0.124  left arm calcium 27G 0.4133333
4 3 0.08163265 PBS   0.127  left arm calcium 27H 0.4191419
5 4 0.10204082 PBS   0.131  left arm calcium 31A 0.4281046
6 5 0.12244898 PBS   0.133  left arm calcium 31B 0.4318182

In [3]:
head(right_arm_normalized)

  X ecdf       Label Values location          ID  Normalized.Calcium
1 0 0.02040816 PBS   0.094  right arm calcium 22B 0.3587786
2 1 0.04081633 PBS   0.118  right arm calcium 22D 0.4452830
3 2 0.06122449 PBS   0.118  right arm calcium 27G 0.4259928
4 3 0.08163265 PBS   0.124  right arm calcium 27H 0.4189189
5 4 0.10204082 PBS   0.128  right arm calcium 31A 0.4280936
6 5 0.12244898 PBS   0.128  right arm calcium 31B 0.4252492

In [4]:
head(comb_arm_normalized)

  X ecdf       Label Values    ID
1 0 0.01020408 PBS   0.3587786 22B
2 1 0.02040816 PBS   0.4133333 22D
3 2 0.03061224 PBS   0.4189189 27G
4 3 0.04081633 PBS   0.4191419 27H
5 4 0.05102041 PBS   0.4218750 31A
6 5 0.06122449 PBS   0.4236760 31B

In [5]:
#only take columns to perform calculations on
left_arm_normalized_sliced <- left_arm_normalized[,c(3,6,7)]
right_arm_normalized_sliced <- right_arm_normalized[,c(3,6,7)]
comb_arm_normalized_sliced <- comb_arm_normalized[,c(3,4,5)]
head(comb_arm_normalized_sliced)

  Label Values    ID
1 PBS   0.3587786 22B
2 PBS   0.4133333 22D
3 PBS   0.4189189 27G
4 PBS   0.4191419 27H
5 PBS   0.4218750 31A
6 PBS   0.4236760 31B

In [6]:
#perform one-way ANOVA
res.aov.leftarm <- aov(Normalized.Calcium ~ Label,
               data = left_arm_normalized_sliced)

res.aov.rightarm <- aov(Normalized.Calcium ~ Label,
               data = right_arm_normalized_sliced)

res.aov.combarm <- aov(Values ~ Label,
               data = comb_arm_normalized_sliced)

print("left arm")
summary(res.aov.leftarm)
print("right arm")
summary(res.aov.rightarm)
print("combined arms")
summary(res.aov.combarm)

[1] "left arm"

             Df  Sum Sq  Mean Sq F value  Pr(>F)
Label         2 0.01398 0.006991   4.973 0.00835 **
Residuals   125 0.17573 0.001406
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

[1] "right arm"

             Df  Sum Sq  Mean Sq F value Pr(>F)
Label         2 0.00933 0.004666   2.109  0.126
Residuals   125 0.27659 0.002213

[1] "combined arms"

             Df Sum Sq  Mean Sq F value  Pr(>F)
Label         2 0.0204 0.010207   5.648 0.00398 **
Residuals   253 0.4572 0.001807
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

In [7]:
#perform Tukey's Correction
print("left arm")
TukeyHSD(res.aov.leftarm)

print("right arm")
TukeyHSD(res.aov.rightarm)

print("combined arms")
TukeyHSD(res.aov.combarm)

[1] "left arm"

  Tukey multiple comparisons of means
    95% family-wise confidence level

Fit: aov(formula = Normalized.Calcium ~ Label, data = left_arm_normalized_sliced)

$Label
                       diff          lwr        upr     p adj
PBS-Camel Blue  0.008498117 -0.010085769 0.02708200 0.5253415
Snus-Camel Blue 0.026353941  0.006262877 0.04644501 0.0064848
Snus-PBS        0.017855824 -0.001666659 0.03737831 0.0804842

[1] "right arm"

  Tukey multiple comparisons of means
    95% family-wise confidence level

Fit: aov(formula = Normalized.Calcium ~ Label, data = right_arm_normalized_sliced)

$Label
                        diff          lwr        upr     p adj
PBS-Camel Blue  -0.006852253 -0.030167260 0.01646276 0.7656108
Snus-Camel Blue  0.014214319 -0.010991568 0.03942021 0.3771349
Snus-PBS         0.021066572 -0.003425984 0.04555913 0.1069292

[1] "combined arms"

  Tukey multiple comparisons of means
    95% family-wise confidence level

Fit: aov(formula = Values ~ Label, data = comb_arm_normalized_sliced)

$Label
                        diff          lwr        upr     p adj
PBS-Camel Blue  0.0008229322 -0.013984853 0.01563072 0.9905809
Snus-Camel Blue 0.0202841299  0.004275412 0.03629285 0.0086554
Snus-PBS        0.0194611977  0.003905531 0.03501686 0.0097146

In [8]:
#summary statistic
library(dplyr)

print("left arm")
group_by(left_arm_normalized_sliced, Label) %>%
summarise(count = n(), mean = mean(Normalized.Calcium, na.rm = TRUE), sd = sd(Normalized.Calcium, na.rm = TRUE))

print("right arm")
group_by(right_arm_normalized_sliced, Label) %>%
summarise(count = n(), mean = mean(Normalized.Calcium, na.rm = TRUE), sd = sd(Normalized.Calcium, na.rm = TRUE))

print("combined arms")
group_by(comb_arm_normalized_sliced, Label) %>%
summarise(count = n(), mean = mean(Values, na.rm = TRUE), sd = sd(Values, na.rm = TRUE))

Warning message:
"package 'dplyr' was built under R version 3.6.3"
Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

[1] "left arm"

  Label      count mean      sd
1 Camel Blue 43    0.4633677 0.02744169
2 PBS        49    0.4718658 0.02408409
3 Snus       36    0.4897217 0.05763427

[1] "right arm"

  Label      count mean      sd
1 Camel Blue 43    0.4781587 0.01515220
2 PBS        49    0.4713064 0.04269581
3 Snus       36    0.4923730 0.07160429

[1] "combined arms"

  Label      count mean      sd
1 Camel Blue 86    0.4707632 0.02325670
2 PBS        98    0.4715861 0.03448449
3 Snus       72    0.4910473 0.06455018

## T-test for individual comparative analysis

In [25]:
pbs <- comb_arm_normalized[comb_arm_normalized$Label == 'PBS',]
snus <- comb_arm_normalized[comb_arm_normalized$Label == 'Snus',]
camel_blue <- comb_arm_normalized[comb_arm_normalized$Label == 'Camel Blue',]

In [22]:
pbs_values <- pbs[,c(4)]
snus_values <- snus[,c(4)]
camel_values <- camel_blue[,c(4)]

In [23]:
#ManWhitneyU PBS-STE
wilcox.test(pbs_values, snus_values)

	Wilcoxon rank sum test with continuity correction

data:  pbs_values and snus_values
W = 2561, p-value = 0.002304
alternative hypothesis: true location shift is not equal to 0

In [26]:
#ManWhitneyU PBS-Camel Blue
wilcox.test(pbs_values, camel_values)

	Wilcoxon rank sum test with continuity correction

data:  pbs_values and camel_values
W = 4568.5, p-value = 0.3261
alternative hypothesis: true location shift is not equal to 0